nav.nav 
    ul.nav-left
        li
            a
                img.logo(src='./img/logo.png', alt='logo') 
        li App 
        li Rating 
        li Policy 
        li Developers 
        li APIs
    ul.nav-right 
        li 
            a.nav-btn(href='/login') login 
        li
            a.nav-btn(href='/#') sign up
