doctype html
html 
    head 
        title By Bits Insurance
        link(rel='stylesheet' href='/css/styles.css')


    body
        
        include ./includes/navigation.pug

        main.main
            block content 

        include ./includes/footer.pug
