* {
	padding: 0;
	margin: 0;
}

nav,
footer {
	background-color: whitesmoke;
}

.nav ul,
.footer p {
	margin: 0 15rem;
}

/* NAVIGATION */

.nav {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 5vw;
}

.nav-btn {
	text-align: center;
	vertical-align: middle;
	padding: 0.5rem;
	border: black solid 1px;
	border-radius: 15px;
	margin-left: 2rem;
}

.nav ul {
	padding: 2rem 0;
}

.nav li {
	list-style: none;
}

.nav a {
	text-decoration: none;
	color: black;
}

.nav-left,
.nav-right {
	display: inline-flex;
}

.nav-left li {
	padding-right: 1rem;
}

/* MAIN */

.main {
	display: flex;
	justify-content: center;
	padding: 1rem;
	height: 60vh;
}

h2 {
	text-align: center;
	padding-top: 2rem;
}

/*LOGIN FORM*/

.login-form {
	height: 55vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form__items {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 1rem 2rem 0 2rem;
}

label {
	text-align: left;
}

.form-btn {
	align-self: flex-end;
	padding: 0.5rem;
	border-radius: 5px;
	margin-bottom: 1rem;
	border: transparent;
}

/*POLICY FORM*/

.policy-form {
	height: 60vh;
}

.policy-container-item:first-child {
	padding-top: 1rem;
}

.policy-container-item {
	padding-top: 1rem;
}

.policy-label {
	font-weight: bold;
}

/* FOOTER */

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 15vh;
}

.footer p {
	padding: 2rem;
	text-align: center;
}
